body {
    background-image: url("https://wallpaperaccess.com/full/13453.jpg");
    
}

.header {
    border: rgb(243, 239, 245) 10px solid;  
}

header {
    border: rgb(172, 38, 38) 20px solid;
    border-style: groove;
    background-color: rgba(73, 181, 207, .75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
}

header h1 {
    
    text-align: center;
    font-family: helvetica;
    font-size: 3.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    flex-direction: column;
    font-weight:900;
    color: rgb(245, 243, 243);
    }

.game {

    border: rgb(172, 38, 38) 20px solid;
    border-style: groove;
    background-color: rgba(41, 112, 59, .5);
    color: white;
    margin-top: 140px;
    margin-left: 7.2em;
    width: 20em;
    display: flex;
    flex-direction: column;
    font-size: 3.3em;
    padding: .5em;
    
}
    
.question {
    background-color: rgb(73, 181, 207);
    display: flex;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:rgb(8, 8, 8) solid 3px;
    padding: 10px;
}

.answer1 {
    background-color: rgb(2, 69, 115);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:rgb(8, 8, 8) solid 3px;
    padding: 8px;
}

.answer2 {
    background-color: rgb(2, 69, 115);;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:rgb(8, 8, 8) solid 3px;
    padding: 8px;
}

button {
    background-color: rgba(85, 67, 67, .75);
    border-style: groove;
    /* border:  solid 3px; */
    height: 50px;
    color: red;
    font-size: .5em;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button:hover {
    background-color: #ffffff;
    color: #4c9ed9;
}





